/* Stylez */
body {font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif; margin: 0 auto; background: #efefef; line-height: 1.8em; padding: 12px; box-sizing: border-box; color: #333;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #fff; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; height: 100%; overflow: auto; }


a {color: #777; text-decoration: none; border-bottom: 1px solid #88b0d8;}
a:hover {border-bottom: 1px solid #6f8ca9; color: #222}
p {font-weight: 200; font-size: 18px;}

.name {font-family: Century, Source Sans Pro, Helvetica Neue, sans-serif; font-size: 30px; font-weight: 600; padding-bottom: 16px;}

.container {margin: 0 auto; width: 720px; height: 680px; padding: 80px 12px; overflow: auto;}

.meta {text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 15px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #6f8ca9; color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

.grid {
  display: grid;
  grid-template-rows: 
    repeat(4, 210px);
  grid-template-columns: 
    repeat(3, 1fr);
  grid-gap: 5px;
}

.item:nth-child(1) {
  grid-row: 1 / 3;
}

.item:nth-child(2) {

  grid-row: 1 / 3;
}

.item:nth-child(3) {
  grid-row: 1 / 3;
}

.item:nth-child(4) {
  grid-row: 1 / 3;
}

.item:nth-child(5) {

  grid-row: 1 / 3;
}

.item:nth-child(6) {
  grid-row: 1 / 3;
}

/* styling code */

.grid {
  margin:20px auto;
  max-width:1000px;
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .inline-list li {padding-right: 40px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 40px 0; width: 600px;}
